USE [master]
GO
/****** Object:  Database [PASTELERIA]    Script Date: 08/12/2022 12:46:47 ******/
CREATE DATABASE [PASTELERIA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PASTELERIA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\PASTELERIA.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PASTELERIA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\PASTELERIA_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PASTELERIA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PASTELERIA]
GO
/****** Object:  Table [dbo].[CARGO]    Script Date: 08/12/2022 12:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CARGO](
	[ID_CARGO] [int] NOT NULL,
	[NOMBRE_CA] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CARGO] PRIMARY KEY CLUSTERED 
(
	[ID_CARGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 08/12/2022 12:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [int] NOT NULL,
	[NOMBRE_CL] [nvarchar](50) NOT NULL,
	[APELLIDO1_CL] [nvarchar](50) NOT NULL,
	[APELLIDO2_CL] [nvarchar](50) NOT NULL,
	[DIRECCION_CL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DETALLE_VENTA]    Script Date: 08/12/2022 12:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_VENTA](
	[ID_DETALLE] [int] NOT NULL,
	[ID_VENTA] [int] NOT NULL,
	[ID_PRODUCTO] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[TOTAL] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_DETALLE_VENTA] PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 08/12/2022 12:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[ID_EMPLEADO] [int] NOT NULL,
	[NOMBRE_E] [nvarchar](50) NOT NULL,
	[APELLIDO1_E] [nvarchar](50) NOT NULL,
	[APELLIDO2_3] [nvarchar](50) NOT NULL,
	[DIRECCION_E] [nvarchar](50) NOT NULL,
	[ID_CARGO] [int] NOT NULL,
 CONSTRAINT [PK_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[INSUMO]    Script Date: 08/12/2022 12:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSUMO](
	[ID_INSUMO] [int] NOT NULL,
	[ID_PROVEEDOR] [int] NOT NULL,
	[NOMBRE_INS] [nvarchar](50) NOT NULL,
	[FECHA_COMPRA] [datetime] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
 CONSTRAINT [PK_INSUMO] PRIMARY KEY CLUSTERED 
(
	[ID_INSUMO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRODUCTO1]    Script Date: 08/12/2022 12:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO1](
	[ID_PRODUCTO] [int] NOT NULL,
	[ID_INSUMO] [int] NOT NULL,
	[ID_EMPLEADO] [int] NOT NULL,
	[NOMBRE_PRO] [nvarchar](50) NOT NULL,
	[STOCK] [int] NOT NULL,
	[PRECIO] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_PRODUCTO1] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 08/12/2022 12:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[ID_PROVEEDOR] [int] NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[APELLIDO1] [nvarchar](50) NOT NULL,
	[APELLIDO2] [nvarchar](50) NOT NULL,
	[DIRECCION] [nvarchar](50) NOT NULL,
	[EMPRESA] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 08/12/2022 12:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[ID_VENTA] [int] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
	[ID_EMPLEADO] [int] NOT NULL,
	[FECHA_VENTA] [datetime] NOT NULL,
 CONSTRAINT [PK_VENTA] PRIMARY KEY CLUSTERED 
(
	[ID_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[DETALLE_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_VENTA_PRODUCTO1] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO1] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[DETALLE_VENTA] CHECK CONSTRAINT [FK_DETALLE_VENTA_PRODUCTO1]
GO
ALTER TABLE [dbo].[DETALLE_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_VENTA_VENTA] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[VENTA] ([ID_VENTA])
GO
ALTER TABLE [dbo].[DETALLE_VENTA] CHECK CONSTRAINT [FK_DETALLE_VENTA_VENTA]
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADO_CARGO] FOREIGN KEY([ID_CARGO])
REFERENCES [dbo].[CARGO] ([ID_CARGO])
GO
ALTER TABLE [dbo].[EMPLEADO] CHECK CONSTRAINT [FK_EMPLEADO_CARGO]
GO
ALTER TABLE [dbo].[INSUMO]  WITH CHECK ADD  CONSTRAINT [FK_INSUMO_PROVEEDOR] FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[PROVEEDOR] ([ID_PROVEEDOR])
GO
ALTER TABLE [dbo].[INSUMO] CHECK CONSTRAINT [FK_INSUMO_PROVEEDOR]
GO
ALTER TABLE [dbo].[PRODUCTO1]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO1_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[PRODUCTO1] CHECK CONSTRAINT [FK_PRODUCTO1_EMPLEADO]
GO
ALTER TABLE [dbo].[PRODUCTO1]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO1_INSUMO] FOREIGN KEY([ID_INSUMO])
REFERENCES [dbo].[INSUMO] ([ID_INSUMO])
GO
ALTER TABLE [dbo].[PRODUCTO1] CHECK CONSTRAINT [FK_PRODUCTO1_INSUMO]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_CLIENTE]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_EMPLEADO] FOREIGN KEY([ID_EMPLEADO])
REFERENCES [dbo].[EMPLEADO] ([ID_EMPLEADO])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_EMPLEADO]
GO
USE [master]
GO
